body {
	/*background-image:url('../images/background.jpg');*/
	color: #555;
	font-family: Lucida Grande, Verdana, serif;
	font-size: 12px;
}

h1 {
	font-size: 2.5em;
	text-align:center;
}

h2 {
	font-size: 2.0em;
	text-align:center;
}



/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
  */
.scrollable {

    /* required settings */
    position:relative;
	overflow:hidden;
	width:1010px;
	min-height:350px;
	float: left;
	margin-bottom: 10px;

}

/*
   root element for scrollable items. Must be absolutely positioned
   and it should have a extremely large width to accomodate scrollable
   items.  it's enough that you set the width and height for the root
   element and not for this element.
*/
.scrollable .items {
    /* this cannot be too large */
    width:20000em;
    position:absolute;
    clear:both;
}

.items div {
    float:left;
    width:1010px;
	height:350px;
	overflow-y:auto;
	overflow-x:hidden;
	text-align: center;
}

.items div .add {
    display: inline-block;
    width:500px;
	height:40px;
	cursor:pointer;
	font-size: 2em;
	font-weight: bold;
	text-align:center;
	background:#F0F0F0;
	margin: 10px 25% 0 25%;
	border: 1px dashed #555;
}

.items div .add:hover {
	background:#E0E0E0;
	border: 1px solid #555;
}

.items div .pattern_result,
.items div .sparring_result,
.items div .power_result
{
    width:998px;
	height: auto;
	padding: 5px;
	padding-bottom: 0px;
	margin-bottom: 8px;
	border: 1px dashed #F0F0F0;
	text-align: center;
}

/* active item */
.scrollable .active {
    border:2px solid #000;
    position:relative;
    cursor:default;
}

a.browse {
    display:block;
    width:75px;
	height:250px;
    float:left;
    cursor:pointer;
    font-size:5em;
	border:1px solid #000;
	text-align:center;
	font-weight:bold;
	background:#000;
	color:#FFCC00;
	padding-top: 100px;
}

a.browse:hover {
	background:#FFCC00;
	color:#000;
}

.button {
    height: 50px;
	width: 1165px;
	border: 1px solid #555;
    background: #F0F0F0;
	font-size: 2em;
	color: #555;
	font-weight: bold;
}

.button:hover {
	background: #D0D0D0;
}

input, select { 		
    display: inline-block;
	padding: 8px; 
    margin: 4px 0 20px 0; 
    background: #fff; 
    width: 140px; 
    font-size: 14px; 
    color: #555; 
    border: 1px #ddd solid;
}

select {
	width: 115px;
}
